{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Fou de test de genre</h1>
        <img src={{serie}} style="height:400px"></img>
        <li>Titre : {{serie}}</li>
        <li>Synopsis : {{serie}}</li>
        <li>Durée : {{serie}}</li>
        <li>Première diffusion : {{serie}}</li>
        <br>
    {% for serie in laSerie.genres %}
    <p class="card-text">{{}}</p>

    {% endfor %}
    {# the image lives at "public/images/logo.png" #} 
</div>
{% endblock %}
