{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascript %}
    {# <script src="{{asset('js/like.js')}}"></script> #}
    <script src="{{asset('js/likeWithFetch.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Retrouvez les {{nombreSeries}} séries de fou de séries</h1>
    {% for serie in lesSeries %}
        <a href="{{ path('app_seriesDetails', {'id': serie.id}) }}">
            <img src={{serie.image}} style="height:400px"></img>
        </a>
        <li>Titre : {{ serie.titre }}</li>
        <li>Synopsis : {{ serie.resume }}</li>
        <li>Durée : {{ serie.duree }}</li>
        <li>Première diffusion : {{ serie.premiereDiffusion | date("m/d/Y")}}</li>
        <span class="truc">
        <a class="likes" href="{{ path('app_seriesLikes', {'id': serie.id}) }}">
            <span class="material-symbols-outlined">thumb_up</span>
            <span class="js-nb-like">{{ serie.likes }}</span>
        </a>
        </span>
        <br>
    {% endfor %}
</div>
{% endblock %}
